:root {
    --main: #70A1D7;
    --banner: #f0f0f0;
}

/* scrollbar */
* {
    scrollbar-width: none;
    scrollbar-color: var(--main) #ffffff00;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

#zoom_in, #zoom_out {
    width: 40px;
    height: 40px;
    background-color: var(--main);
    border: none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#top_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--banner);
    box-shadow: #000000;
}

/* #scene_controls {
    display: flex;
    gap: 10px;
} */

/* For Parts banner */
#parts_list {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}

/* for scrollbar */
#parts_list::-webkit-scrollbar {
    display: none;
}

#parts_list ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#parts_list li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: none;
    border: var(--banner) 2px solid;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: border 0.3s ease-out, max-height 0.3s ease-out, padding 0.3s ease-out;
    overflow-y: hidden;
    max-width: fit-content;
    word-wrap: break-word;
}

#parts_list li:hover {
    border-bottom: var(--main) 2px solid;
}

#parts_list li.expanded {
    max-height: 400px;
    padding: 20px;
    border: var(--main) 2px solid;
}

#parts_list li .extra-content {
    display: none;
    word-wrap: break-word;
}

#parts_list li.expanded .extra-content {
    display: block;
    margin-top: 10px;
    max-width: fit-content; /* this is a bandaid fix, it should automatically word wrap based on the set width we have defined */
    word-wrap: break-word;
}

#scrollToTopButton {
    position: fixed;
    top: 20px;
    left: 20px;
    width: auto;
    height: 30px;
    background-color: none;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: none
}

#scrollToTopButton:hover {
    background-color: #3295ff;
}

#progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* needs to be higher than iframe */
}

/* all below is for the custom spinner */
.loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
    z-index: 11;
}
  
.loader:before,
.loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% { 
        -webkit-transform: rotate(0deg) scale(0.8); 
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
        -webkit-transform: rotate(360deg) scale(1.2); 
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
        -webkit-transform: rotate(720deg) scale(0.8); 
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}