/* global vars */
:root {
    --main: #70A1D7;
}

/* scrollbar, everything disabled for clean look */
* {
    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 0, 0) #ffffff00;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

/* the main stuff is up here */
/* Change font in the body section */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'SF Pro', sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: rgb(117, 116, 116);
    text-align: center;
    padding: 1em 0;
    height: 2.2em;
}

/* footer {
    background-color: #000000;
    color: rgb(117, 116, 116);
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
    height: 0em;
} */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    header, footer {
        font-size: 1.2em;
    }
}


/* the navbar component styling */
header nav {
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    /* background-color: grey; */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

header nav ul li button {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    border: none;
    padding: 1em 1em;
    margin: 0 1em;
    display: block;
    transition: color 0.3s ease;
    cursor: pointer;
}

header nav ul li:hover button {
    color: var(--main);
}

/* below is if we want different color buttons for each of the pages in the navbar */

/* #home_button:hover {
    color: rgb(211, 135, 247);
}

#mission_button:hover {
    color: rgb(0, 110, 255);
}

#concept_button:hover {
    color: rgb(128, 209, 150);
}

#contact_button:hover {
    color: rgb(255, 126, 175);
} */


/* text inside the header */
header h1 {
    margin: 0;
    padding: 0.5em 0;
    color: white;
}

header h2 {
    margin: 0;
    padding: 0.5em 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* iframe styling */
iframe {
    height: 100vh;
    border: none;
    z-index: 1;
}

/* Wavy Bar Styling */
.wavy-bar {
    width: 100%;
    height: 3px;
    background: linear-gradient(
        90deg, 
        #70A1D7, #3295ff, #A1DE93, #4ff32a, #A1DE93, #3295ff, #70A1D7
    );
    background-size: 200% 100%;
    animation: wave 5s linear infinite;
    z-index: 2;
    position: relative;
}

@keyframes wave {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}