/* the main stuff is up here */
/* Change font in the body section */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'SF Pro', sans-serif;
    background-color: #000000;
}

header, footer {
    background-color: #000000;
    color: rgb(117, 116, 116);
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
}

@media (max-width: 600px) {
    header, footer {
        font-size: 1.2em;
    }
}


/* the navbar component styling */
header nav {
    border-top: 1px solid #858585;
    padding-top: 0.5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

header nav ul li button {
    margin: 0 1em;
}

header nav ul li button {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    border: none;
    padding: 0.5em 1em;
    display: block;
    transition: color 0.3s ease;
}

header nav ul li:hover button {
    color: rgb(211, 135, 247);
}


/* test inside the header */
header h1 {
    margin: 0;
    padding: 0.5em 0;
    color: white;
}

header h2 {
    margin: 0;
    padding: 0.5em 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}