:root {
    --purple: rgb(211, 135, 247);
}

/* scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--purple) #ffffff00;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(8, 18, 48, 0);
    backdrop-filter: blur(2px);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.info_box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #1a1a1a;
}


.info_box h2 {
    color: #ffffff;
    text-align: left;
    margin: 0 0 20px 0;
}

.info_box p {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}